# Binaries
bin/

# OS Artifacts
.DS_Store

# Temporary Test Data
*.bin
*.dat
*.log
*.tmp
*.key
*.mp4
my_file.txt
sample.txt
restored.txt
test_manifest.json

# Storage Directories
*store*
store/
store_*/
p1_store/
p2_store/
p3_store/
content_store/
client_store/
test_files/
downloads/
.finalStore
temp/

# Go Cache
.gocache/